body {background-image: url(whitebackground.jpg);
        background-size: 6300px 4300px;
        background-repeat: no-repeat;
        background-position-x: center;
      }

  .h1 {text-align: center;
       font-size:100px;
       font-weight: 400;
       box-shadow: 0 16px 20px rgba(166, 169, 167, 0.878);
       background-image: url(whitebackground.jpg);
       background-size:contain;
       background-repeat:no-repeat;
       background-size: 2500px 350px;
       background-position-x: center;
       text-shadow: 5px 5px;
       
        }
  
  h1 {text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      
  }
        
  .h1battles{
      
       text-align: center;
       font-size:100px;
       font-weight: 400;
       box-shadow: 0 16px 20px rgba(237, 150, 29, 0.549);
       background-image: url(uhud.png);
       background-size:contain;
       background-repeat:no-repeat;
       background-size: 2000px 350px;
       background-position-x: center;
       text-shadow: 5px 5px;
          }

  .h1inspire{ 

       text-align: center;
       font-size:100px;
       font-weight: 400;
       box-shadow: 0 16px 20px rgba(174, 175, 175, 0.504);
       background-image: url(greyclouds.jpg);
       background-size:contain;
       background-repeat:no-repeat;
       background-size: 2500px 550px;
       background-position-x: center;
       text-shadow: 5px 5px;
       }

  .h1country { 
       text-align: center;
       font-size:100px;
       font-weight: 400;
       box-shadow: 0 16px 20px rgba(222, 195, 98, 0.504);
       background-image: url(countryniqab.jpeg);
       background-size:contain;
       background-repeat:no-repeat;
       background-size: 2500px 1500px;
       background-position-x: center;
       text-shadow: 5px 5px 5px rgb(0, 0, 0);
       color: rgb(252, 253, 252);
       }
       
  .h1companions {

       text-align: center;
       font-size:100px;
       font-weight: 400;
       box-shadow: 0 16px 20px rgba(234, 189, 27, 0.504);
       background-image: url(desert.jpg);
       background-size:contain;
       background-repeat:no-repeat;
       background-size: 1500px 800px;
       background-position-x: center;
       text-shadow: 5px 5px 5px whitesmoke;
           }

  .h1invent {

       text-align: center;
       font-size:100px;
       font-weight: 400;
       box-shadow: 0 16px 20px rgba(234, 189, 27, 0.504);
       background-image: url(globe.jpg);
       background-size:contain;
       background-repeat:no-repeat;
       background-size: 1700px 800px;
       background-position-x: center;
       text-shadow: 1px 1px 2px black, 0 0 25px rgb(243, 243, 245), 0 0 5px rgb(249, 245, 245);
       color: rgb(4, 18, 1);
  }
  


  h2 { text-align: center;
       font-size:50px;
       font-weight: 400; }
    
  #islamic {text-align: center;
       font-size:100px;
       font-weight: 400;
       color: rgb(44, 172, 44);
       text-shadow: 5px 5px 5px black;

       }
  
  a {
     text-decoration: none;
     color: rgb(1, 128, 1);
     letter-spacing: 2px;
     word-spacing: normal;
     border-style:solid;
     font-size: x-large;
     width: 100%;
     position: relative;
     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
     transition: 0.8s;
     
    }


  a:hover {
    color: rgb(1, 13, 1);;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    text-shadow: 2px 2px;
    transition: color 0.8s; border-bottom: 0.8s;
   
  }
  div {  border: 5px rgb(23, 93, 23) outset; 
         padding: 10px; 
         background-position: center;
         box-shadow: 12px 12px;
         border-style:ridge;
         border-width: 10px;
         border-collapse:separate;
        
        }

  #links {
         border: 5px rgb(4, 79, 4) outset; 
         border-width: 40px;
         border-style: groove;
         padding: 5px; 
         background-color: rgb(201, 199, 199);
         box-shadow: 0 16px 20px rgba(125, 127, 128, 0.878);


         }
  
  #border {
         border: 2px green outset; 
         border-width: 2px;
         border-style: groove;
         padding: 2px;
         color: rgb(87, 218, 10); 
         background-color: rgba(231, 234, 232, 0.878);
         box-shadow: 0 16px 20px rgba(10, 122, 47, 0.878);


         }
  