.about { background-color: rgb(9, 241, 164);
  background-color: rgb(131, 218, 239);
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
        
      }


.stats { background-color: aquamarine;
  background-color: rgb(102, 225, 227);
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
       }

 body  {
  background-image: url(images/abstract\ background.jpg);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
        }