.highlight { background-color: yellow;}

.paragraph {color: blue; font-size: 38px;} /*class selector (more specific)*/

#idpara { font-size: 40px; color: rgb(61, 36, 199);} /*ID selector (even more specific)*/

div > p {color: darkgoldenrod;} /*element selector (less specific)*/

ul > li {color: rgb(26, 26, 234); font-size: 40px;}

ol > li {color: brown; font-size: 30px;}

h1 + p {color: rgb(155, 155, 183); margin-top: 30px;} /*targets the immediate <p> that comes right after <h1>*/

h1 ~ p {color: brown;} /*targets ALL <p> elements that come after the same parent <h1>, not just the first.*/

input[type="text"] { background-color: rgb(181, 181, 239); } /*targets all input types with "text" in it*/

a[home] { border-bottom: 0cqh;}

